body{
    margin: 0%;
    padding: 0%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 30px;
}

.navbar ul{
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
}

.flower-box{
    display: flex;
    gap: 0;
    margin: 120px 150px;
}

.flower-detail{
    width: 50%;
    margin-top: 162px;
}

.flower-detail h2{
    font-size: 65px;
    font-weight: bold;
}

.flower-detail p{
    font-size: 22px;
}

.flower-pic{
    width: 50%;
    margin-top: 100px;
}

.flower-pic img{
    width: 100%;
    height: 100%;
}

.plants{
    margin: 120px 150px;
}

.plant-title{
    margin-top: 120px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}

.plant-title h1{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

.plant-title p{
    color: gray;
    font-size: 22px;
}

.plant-img-container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    margin-top: 50px;
    justify-items: center;
    column-gap: 20px;
}

.plant-img{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.plant-img #lily{
    font-size: 22px;
}

.plant-img #price{
    font-size: 22px;
    font-weight: bold;
}

.plant-img button{
    background-color: #E95A08;
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
}

#trusted-badge{
    margin: 0 auto;
    height: 250px;
    width: 250px;
    margin-bottom: -120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#trusted-badge img{
    height: 220px;
    width: 220px;
    margin-left: -200px;
    z-index: 1;
}

.plant-lover{
    height: 500px;
    display: flex;
    gap: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.plant-lover-img{
    width: 100%;
    height: 100%;
}

.plant-lover-img img{
    width: 100%;
    height: 100%;
}

.plant-lover-title{
    margin-right: 0;
    margin-top: 38px;
    margin-bottom: 38px;
}

.plant-lover-title h2{
    font-size: 50px;
    font-weight: bold;
    margin-top: 0%;
}

.plant-lover-title ul li{
    font-size: 22px;
    color: gray;
}

@media screen and (max-width: 576px) {
    .navlink{
        visibility: hidden;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
    .flower-pic img{
        width: 100%;
        margin-bottom: 10px;
    }
    .flower-pic{
        width: 100%;
        margin-top: 5px;
    }
    .flower-detail{
        margin-top: 5px;
    }
    .flower-box{
        margin-left: 5px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .flower-detail h2{
        font-size: 24px;
    }
    .flower-detail p{
        font-size: 14px;
    }
    .plants{
        margin: 50px 5px;
    }
    .plant-img-container{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        margin-top: 50px;
        justify-items: center;
        column-gap: 5px;
    }
    .plant-lover{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 20px;
        margin-right: 20px;
    }
    .plant-lover-img{
        width: 100%;
    }
    .plant-lover-img img{
        width: 100%;
    }
    #trusted-badge img{
        display: none;
    }
    .plant-lover-title ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}