body{
    margin: 0%;
    padding: 0%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 30px;
}

.navbar ul{
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
}

.flower-box{
    display: flex;
    gap: 0;
    margin: 120px 150px;
}

.flower-detail{
    width: 50%;
    margin-top: 162px;
}

.flower-detail h2{
    font-size: 65px;
    font-weight: bold;
}

.flower-detail p{
    font-size: 22px;
}

.flower-pic{
    width: 50%;
    margin-top: 100px;
}

.flower-pic img{
    width: 100%;
    height: 100%;
}

.plants{
    margin: 120px 150px;
}

.plant-title{
    margin-top: 120px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}

.plant-title h1{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

.plant-title p{
    color: gray;
    font-size: 22px;
}

.plant-img-container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    margin-top: 50px;
    justify-items: center;
    column-gap: 20px;
}

.plant-img{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.plant-img #lily{
    font-size: 22px;
}

.plant-img #price{
    font-size: 22px;
    font-weight: bold;
}

.plant-img button{
    background-color: #E95A08;
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
}

#trusted-badge{
    margin: 0 auto;
    height: 250px;
    width: 250px;
    margin-bottom: -120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#trusted-badge img{
    cursor: pointer;
    height: 220px;
    width: 220px;
    margin-left: -200px;
    z-index: 1;
}

.plant-lover{
    height: 500px;
    display: flex;
    gap: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.plant-lover-img{
    width: 100%;
    height: 100%;
}

.plant-lover-img img{
    width: 100%;
    height: 100%;
}

.plant-lover-title{
    margin-right: 0;
    margin-top: 38px;
    margin-bottom: 38px;
}

.plant-lover-title h2{
    font-size: 50px;
    font-weight: bold;
    margin-top: 0%;
}

.plant-lover-title ul li{
    font-size: 22px;
    color: gray;
}

.deal{
    margin-top: 130px;
    text-align: center;
}

.deal h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}

.deal p{
    font-size: 22px;
}

.three-img-section{
    display: flex;
    margin: 120px 140px;
    justify-content: space-between;
    padding-bottom: 0%;
}

.two-img{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    gap: 25px;
}

.two-img img{
    border-radius: 14px;
}

.one-img{
    width: 60%;
}

.one-img img{
    width: 100%;
    height: 423.13px;
    border-radius: 14px;
}

.colorful-bunch{
    margin-top: 120px;
    background-image: url(assets/news-letter-bg.png);
    height: 533px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.colorful-bunch .input{
    display: flex;
    gap: 0;
}
.colorful-bunch h1{
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 23px;
}

.colorful-bunch .input input{
    width: 644px;
    height: 50px;
    border: none;
    font-size: 16px;
}

.colorful-bunch .input button{
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    width: 186px;
    height: auto;
    background-color: #E95A08;
    border: none;
}

.last-section{
    height: 350px;
    width: 100%;
    display: flex;
    padding: 0%;
}

.footer-logo{
    width: 35%;
}
.footer-logo img{
    margin-top: 30px;
    margin-left: 50px;
}
.footer-logo h3{
    text-wrap: wrap;
    margin-left: 50px;
    font-size: 22px;
}
.footer-menu{
    width: 35%;
}
.footer-menu ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    
}

.footer-menu ul li{
    list-style: none;
    margin-top: 20px;
}
.footer-menu ul li a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

.social-media-logo{
    width: 30%;
}
.social-media-logo nav{
    display: flex;
    gap: 40px;
    margin-top: 30px;
    justify-content: center;
}
.social-media-logo nav img{
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .navlink{
        visibility: hidden;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
    .flower-pic img{
        width: auto;
        margin-bottom: 10px;
    }
    .flower-pic{
        width: auto;
        margin-top: 5px;
    }
    .flower-detail{
        margin-top: 5px;
    }
    .flower-box{
        margin-left: 5px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .flower-detail h2{
        font-size: 24px;
    }
    .flower-detail p{
        font-size: 14px;
    }
    .plants{
        margin: 50px 5px;
    }
    .plant-img-container{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        margin-top: 50px;
        justify-items: center;
        column-gap: 5px;
    }
    .plant-lover {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0; /* REMOVE large margin-bottom */
      }
      .plant-lover-img {
        width: 100%;
        /* REMOVE display: flex; flex-direction: column; */
        /* REMOVE height: 100%; */
        margin-bottom: 10px; /* optional spacing */
      }
      .plant-lover-title ul li{
        font-size: 12px;
        text-wrap:  wrap;
        max-height: 600px;
        overflow-y: hidden;
      }

      .deals-plant-image{
        display: flex;
        flex-direction: column;
        margin: 200px 20px;
      }
      .plant-lover-img img {
        width: 100%;
        height: auto; 
      }
    #trusted-badge img{
        display: none;
    }
    .deal h1{
        font-size: 25px;
        font-weight: bold;
      }
    .deal p{
        font-size: 14px;
      }
    .three-img-section{
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    .two-img{
        gap: 0;
        width: 450px;
        display: flex;
        flex-direction: column;
      }
    .one-img img{
        width: 450px;
        height: 250px;
      }
      .colorful-bunch{
        width: 100%;
        height: 300px;
      }
      .colorful-bunch h1{
        font-size: 20px;
        font-weight: bold;
      }
      .colorful-bunch .input input{
        width: 220px;
        height: 50px;
      }
      .colorful-bunch .input button{
        height: auto;
        width: 103px;
      }
      .last-section{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
      }

      .footer-logo h3{
        margin-left: 50px;
        margin-top: 50px;
        font-size: 16px;
      }
      .footer-menu ul{
        display: flex;
        flex-direction: column;
      }
      .social-media-logo{
        padding-left: 40px;
      }
      .social-media-logo nav{
        display: flex;
        justify-content: flex-start;
      }
}